<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
</head>
<body>
    <form action="{{ url_for('add') }}" method="POST">
        <label>Book Name</label>
        <input type="text" name="title" placeholder="Book Name" required>
        <label>Book Author</label>
        <input type="text" name="author" placeholder="Book Author" required>
        <label>Rating</label>
        <input type="text" name="rating" placeholder="Book Rating" required>
        <button type="submit">Add Book</button>
    </form>
</body>
</html>