<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
<h1>My Library</h1>
    <ul>
        {% if not books %}
            <li><h3>Library is Empty</h3></li>
        {% else %}
        {% for book in books %}
        <li><h3>{{ book.title}} - {{book.author}} - {{book.rating }} <a href="{{ url_for('update_rating(book.id)') }}">Edit Rating</a></h3></li>
        {% endfor %}
        {% endif %}
    </ul>
    
<a href="{{ url_for('add') }}">Add New Book</a>
</body>
</html>